body { 
    font-family: sans-serif; 
    background: #f4f4f4; 
    display: flex; 
    justify-content: center;
}

.card { background: white; 
    width: 400px; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0,0,0)
}

.card-header { background:green; 
    height: 80px; 
}

.card-body { padding: 20px; 
    text-align: center; 
}

.card-list {
    list-style: none; 
    margin: 2px;
}

.formulario {
    display: flex; 
    flex-flow: row; 
    gap: 10px;
    font-size: smaller;
}